.App {
  text-align: center;
}

.h1 {
  text-align: center;
}

.modal-body {
  padding: 1px 8px;
  background-color: #ffffff;
}

.nav ul li :hover{
  text-decoration: none;
  color: #B64926;
}

.nav ul li {
  padding:1em;
  text-transform: uppercase;
  font-weight: 500px;
  font-size:25px;
  letter-spacing: -0.05em;
  display: inline-block;
}


.nav ul{
  clear: both;
  width: 100%;
  text-align: center;
}